#adminmenu .menu-icon-post div.wp-menu-image:before {
	content: "\f0f5"; 
	font-family: Fontawesome !important;
}

div#visibility {
	visibility: none;
}

.mh-meta-comments { display: none; }

/*#wp-admin-bar-customize {display: none;}*/

.hide-if-no-customize {
	display: none;
}

.wp-admin-bar-customize {
	border: 1px solid red;
}

