@import 'variables';

/* Image feature carsousel */

div.carousel-inner div.carousel-caption {
	h1 {
		margin-top: 0;
	}

	p {
		font-family: $primaryFontFamily !important;
	}
}

ol.carousel-indicators {
	display: none;
}

@media screen and (max-width: 475px){

	div.carousel-caption {
		top: 10%;
		bottom: 10%;

		p {
			display: none;
		}

	}
}

@media screen and (min-width: 650px){
	div.carousel-caption {
		top: 10%;
		bottom: 10%;
	}
}


@media screen and (min-width: 768px){
	div.carousel-inner {
		div.left {
			left: 0;
			right: 45%;
		}	

		div.right {
			right: 0;
			left: 45%;
		}
	}
		
	div.carousel-inner div.carousel-caption {
		h1 {
			margin-top: 0;
			padding-top: 0;
		}
		
		a {
			margin: 0 auto;
			max-width: 200px;
		}
	}

	div.carousel-caption {
		top: 5%;
	}

	ol.carousel-indicators {
		display: block;
	}
}

@media screen and (min-width: 922px){
}

@media screen and (min-width: 1000px){
	div.carousel-inner div.carousel-caption {
		h1 {
			font-size: 45px !important;	
		}

		p {
			font-size: 20px !important;
		}

		a {
			margin-top: 15px;
		}

	} 

	div.carousel-caption {
		top: 15%;
		bottom: 15%;
	}
}

@media screen and (min-width: 1200px){
	div.carousel-inner div.carousel-caption {
		h1 {
			font-size: 55px !important;	
		}

		p {
			font-size: 25px !important;
		}
	}
}

/* END - Image feature carsousel */