@import 'variables';

div.page {
    text-align: left;
    margin-bottom: 1.5em;
}

div.breadcrumb {
    background-color: transparent;
}

div.map {
    margin-top: 1em;
}

div#locationAndHours {
    table {
        width: 100%;
    }

    td:nth-child(odd) {
        text-align: right;
        padding-right: 5px;
    }

    td:nth-child(even) {
        padding-left: 5px;
        text-align: left; 
    }
}